.navbar {
        background-color: white; 
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 40px;
        color:  #16a085;
        font-size: 28px;
        font-weight: 800;
        line-height: 100px;
        text-align: center;   
}
.top-image {
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-content {
    align-content: center;
    width: 100%;
    height: 650px;
    background-color: lightgray;
    font-family: "Trebuchet MS";
    color:  #373737;
    font-size: 16px;
    font-weight: 1000;
    line-height: 26px;
    margin: 0;
    padding: 30px;
}
h2 {
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 3px;
    text-align: center;
}
.main-p {text-align: justify;
    letter-spacing: 2px;
    text-align: center;
}
.btn {

    border-radius: 5px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    text-align: center;
    font-family: "Trebuchet MS";
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    
}
.footer {
    text-align: right;
    font-family: "Trebuchet MS";
    font-size: 16px;
    padding-top: 30px;
    padding-right: 200px;
    padding-bottom: 30px;
}
